@charset "UTF-8";

a {
	text-decoration: none;
}
.admin_top_wrap {
	width: 100%;
	border-radius: 12px;
	background-color: #D3D3D3;
	text-align: center;
	font-style: italic;
}

.admin_top_wrap span {
	color: black;
}

.admin_navi_wrap {
	display: block;
	width: 100%;
	margin: 0 0 15px 25%;
}

/* 관리자 컨텐츠 제목 영역 */
.admin_content_subject {
	font-size: 40px;
	font-weight: bolder;
	padding-left: 15px;
	background-color: #D3D3D3;
	height: 80px;
	line-height: 80px;
}

.admin_navi_wrap a {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	cursor: pointer;
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
	color: black;
}

A:link{text-decoration: none; color: #000000;}
A:visited{text-decoration: none; color: #000000;}
A:active{text-decoration: none; color: #000000;}
A:hover{text-decoration: none; color: #000000;}

.admin_div {
	float: left;
	width: 25%;
}

.admin_div a {
	color: white;
	font-style: italic;
}

.admin_navi_wrap li a:link {
	color: black;
}

.admin_navi_wrap li a:visited {
	color: black;
}

.admin_navi_wrap li a:active {
	color: black;
}

.admin_navi_wrap li a:hover {
	color: black;
}
/* 홈페이지 기능 네비 */
.top_gnb_area {
	width: 100%;
	height: 50px;
	border-radius: 12px;
	background-color: white;
}

.top_gnb_area {
	text-align: center;
}

.div_right {
	width: 50%;
	float: right;
	border: none;
	font-size: 16px;
	text-align: right;
	margin: 13px 0 0 0;
}

.div_right a {
	background: white;
	color: balck;
	color: #000000;
}

.div_right a:hover {
	color: blue;
	text-decoration: underline;
}

.div_right button:hover {
	color: black;
}
.top_gnb_area a:hover{
	text-decoration: underline;
	color: blue;
}

.admin_list_01:hover {
	background-color: #A9A9A9;
	border-radius: 12px;
}

.admin_list_02:hover {
	background-color: #A9A9A9;
	border-radius: 12px;
}

.admin_list_03:hover {
	background-color: #A9A9A9;
	border-radius: 12px;
}

.admin_list_04:hover {
	background-color: #A9A9A9;
	border-radius: 12px;
}

.admin_list_05:hover {
	background-color: #A9A9A9;
	border-radius: 12px;
}