@charset "UTF-8";

.admin_top_wrap {
	width: 100%;
	border-radius: 12px;
	background-color: #D3D3D3;
	text-align: center;
	font-style: italic;
}

.admin_navi_wrap{
	display: block;
	width: 100%;
	margin: 0 0 15px 25%;
}

/* 관리자 컨텐츠 제목 영역 */
.admin_content_subject {
	font-size: 40px;
	font-weight: bolder;
	padding-left: 15px;
	background-color: #6AAFE6;
	height: 80px;
	line-height: 80px;
	color: white;
}

.admin_navi_wrap a{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	cursor: pointer;
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
	color: black;
}

.admin_div{
	float: left;
	width: 25%;
}
.admin_div a{
	color: #2F4F4F;
}

.admin_navi_wrap li a:link {
	color: black;
}

.admin_navi_wrap li a:visited {
	color: black;
}

.admin_navi_wrap li a:active {
	color: black;
}

.admin_navi_wrap li a:hover {
	color: black;
}

.top_gnb_area {
	border-radius: 12px;
}

.admin_list_01:hover {
	background-color: #D3D3D3;
	border-radius: 12px;
}

.admin_list_02:hover {
	background-color: #D3D3D3;
	border-radius: 12px;
}

.admin_list_03:hover {
	background-color: #D3D3D3;
	border-radius: 12px;
}

.admin_list_04:hover {
	background-color: #D3D3D3;
	border-radius: 12px;
}

.admin_list_05:hover {
	background-color: #D3D3D3;
	border-radius: 12px;
}