@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
a{
    text-decoration: none;
}
/* 화면 전체 렙 */
.wrapper{
	width: 100%;
}
/* content 랩 */
.wrap{
	width : 1080px;
	margin: auto;
}
/* 홈페이지 기능 네비 */ 
.top_gnb_area{
	width: 100%;
	height: 50px;
	border-radius: 12px;
}
 
.top_gnb_area{
    position:relative;
}
.top_gnb_area .list{
    position: absolute;
    top: 0px;
    right: 0;
    
}
.top_gnb_area .list li{
    list-style: none;    
    float : left;
    padding: 13px 15px 0 10px;
    font-weight: 900;
    cursor: pointer;
}

/* 로그인 전  */
.div_head {
	width: 100%;
}

.div_left {
	margin: 13px 0 0 0;
	font-size: 16px;
	width: 50%;
	float: left;
	border: none;
	color: black;
}

.div_left #login_button {
	width: 50px;
	height: 22px;
	background: white;
	border: 1px solid #000000;
}

.div_left #login_button:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.div_left .id_input {
	width: 100px;
	height: 20px;
	font-size: 15px;
}

.div_left .pw_input {
	width: 100px;
	height: 20px;
	font-size: 15px;
}

.div_right {
	width: 50%;
	float: right;
	border: none;
	font-size: 15px;
	text-align: right;
	margin: 13px 0 0 0;
}
#gnb_logout_button{
	cursor: pointer;
}

.div_right a {
	background: white;
	color: balck;
	color: #000000;
}

.div_right a:hover {
	color: blue;
	text-decoration: underline;
}

.div_right button:hover {
	color: black;
}

.div_right button {
	width: 50px;
	margin: 2px 0 0 0;
	background: white;
	cursor: pointer;
	background: white;
	border: solid 1px #000000;
	font-size: 15px;
}

.div_right button:hover {
	color: blue;
	text-decoration: underline;
}

/* 로그인 후  */
.after_div_head {
	width: 100%;
}

.after_div_left {
	width: 50%;
	height: 50px;
	float: left;
	border: none;
	background: #87CEFA;
	color: white;
	font-size: 25px;
	font-style: italic;
	text-align: left;
}

.after_div_right {
	width: 50%;
	height: 50px;
	float: right;
	border: none;
	background: #87CEFA;
	color: white;
	font-style: italic;
	cursor: pointer;
	text-align: right;
}

.after_div_right a {
	font-size: 25px;
}

.after_div_right a:hover {
	color: red;
}
/* 로그인 실패*/
.login_warn {
	text-align: center;
	color: red;
	font-size: 15px;
	font-weight: 500;
}
/* 로고, 검색, 로그인 */
.top_area{
	width: 100%;
    height: 150px;
    /* background-color: #f7f0b9; */
}
/* 로고 영역 */
.logo_area {
	width: 40%;
	height: 130px;
	float: left;
	margin: 18px 0 0 0;
}

.logo_area img {
	width: 100%;
}

.login_success_area{
	height: 62%;
	width: 80%;
	border: 2px solid #7474ad;
	border-radius: 15px;
	margin: 5% auto;
	padding-top: 5%;
	background-color: white;
}
.login_success_area>span{
	display: block;
	text-align: left;
	margin-left: 10%;
}

.login_success_area>a{
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    background: #e1e5e8;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 25px;
    color: #606267;    
}

/* 로그인 버튼 영역 */
.login_area{
	width: 25%;
	height: 100%;
	display: inline-block;	
	text-align: center;
	background-color: white;
}
.login_button{
	height: 50%;
    background-color: #D4DFE6;
    margin-top: 30px;
    line-height: 77px;
    font-size: 40px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;	
}
.login_area>span{
	margin-top: 10px;
    font-weight: 900;
    display: inline-block;
}
.login_button{
	height : 50%;
	background-color: #DCDCDC;
	margin-top:30px;
}
.login_button:hover{
	background-color: #C0C0C0;
}

/* 제품 목록 네비 */
.navi_bar_area{
	width: 100%;
    height: 70px;
    background-color: #7696fd;
}


/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
	min-height: 1000px;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}

/* footer navai 영역 */
.footer_nav{
	width:100%;
	height:50px;
}
.footer_nav_container{
	width: 100%;
	height: 100%;
	background-color: #66CDAA;
	border-radius: 12px;
}
.footer_nav_container>ul{
	font-weight : bold;
	float:left;
	list-style:none;
	position:relative;
	padding-top:10px;
	line-height: 27px;
	font-family: dotum;
	margin-left: 10px;
}
.footer_nav_container>ul>li{
	display:inline;
	width: 45px;
	height: 19px;
	padding: 10px 9px 0 10px;
}
.footer_nav_container>ul>span{
	margin: 0 4px;
}
/* footer 영역 */
.footer{
	width:100%;
	height:100px;
	background-color: #DCDCDC;
	padding-bottom : 50px;
	border-radius: 12px;
	margin-bottom: 7px;
}
.footer_container{
	width: 100%;
	height: 100%;
	margin: auto;
}
.footer_left>img {
	width: 150%;
    height: 130px;
    margin-left: -20px;
    margin-top: -12px;
}
.footer_left{
	float :left;
	width: 170px;
	margin-left: 20px;
	margin-top : 30px;
	
}
.footer_right{
	float :left;
	width: 680px;
	margin-left: 70px;
	margin-top : 30px;
}

/* 검색 박스 영역 */
.search_area {
	width: 60%;
	height: 150px;
	float: right;
	text-align: left;
}

.search_wrap {
	width: 100%;
	height: 100%;
}

#searchForm {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_input {
	display: flex;
	height: 30%;
	width: 80%;
	height: 40px;
}

.search_input select {
	width: 20%;
	text-align: center;
	font-size: 15px;
	border-radius: 20px;
	border: 4px solid #5E6B9E;
}

.search_input input {
	margin-left: 10px;
	width: 100%;
	font-size: 18px;
	padding-left: 2%;
	border-radius: 20px;
	border: 4px solid #5E6B9E;
}

.search_btn {
	margin: 0 0 0 10px;
	width: 10%;
	border-radius: 14px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 20px;
	cursor: pointer;
	background: white;
	border: 4px solid #5E6B9E;
}

.search_btn:hover {
	background-color: #D3D3D3;
}

.navi_bar_area {
	overflow: hidden;
	background-color: #6495ED;
	border-radius: 12px;
}
.search_wrap{
	width: 100%;
    height: 100%;
}
#searchForm{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_btn:hover{
	background-color: #D3D3D3;	
}

/* 검색결과 없음 */
.table_empty{
	height: 50px;
	text-align: center;
	margin: 200px 0 215px 0px;
	font-size: 25px;
}

/* 상품 표 */
.list_search_result{
	width: 90%;
    margin: auto;	
}
.type_list{
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
	border-collapse: collapse;	
}
.type_list tr{
	height:200px;
	border-bottom: 1px solid #e7e7e7;
}
.detail div{
	margin-left: 15px;
	margin-bottom: 5px;
}
.category{
	font-size: 12px;
   	font-weight: 600;
}
.title{
    font-size: 20px;
    color: #3a60df;
    font-weight: 700;
}
.author{
	font-size: 14px;
}
.info{
	text-align: center;
}
.price{
	text-align: center;
}
.org_price del{
	color: blue;
	font-size: 18px;
}
.sell_price strong{
	color: red;
   	font-size: 20px;
}

/* 페이지 버튼 인터페이스 */
.pageMaker_wrap{
	text-align: center;
	   margin-top: 30px;
    margin-bottom: 40px;
}
.pageMaker{
    list-style: none;
    display: inline-block;
}	
.pageMaker_btn {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    border-radius: 12px;
}
.active{
	border : 2px solid black;
	font-weight:400;
}
.next, .prev {
    border: 1px solid #ccc;
    padding: 0 10px;
}
.pageMaker_btn a:link {color: black;}
.pageMaker_btn a:visited {color: black;}
.pageMaker_btn a:active {color: black;}
.pageMaker_btn a:hover {color: black;}
.next a, .prev a {
    color: #ccc;
}

.image_wrap{
	width: 100%;
	height: 100%;
}

.image_wrap img{
	width: 90%;
	height: auto;
	display: block;
}
/* 필터정보 */
.search_filter {
    width: 100%;
	height: auto;
    margin: 10px 0 50px 0;
    
} 
.filter_button_wrap {
    width: 100%;
	height: 50px;
	margin: 0 0 20px 0;
}

.filter_button_wrap button {
    width: 50%;
}
.filter_button{
	border: none;
	color: black;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
	font-size: x-large;
	height: 60px;
} 
.filter_button_wrap:after {
    content: "";
    clear: both;
    display: table;
}  	
.filter_button_wrap button:not(:last-child) {
    border-right: none;
}
.filter_button:hover {
    background-color: #5E6B9E;
	color: white;
}
.filter_active{
	background-color: #5E6B9E;
	color: white;
}
.filter_content{
	padding:20px 50px 20px 50px;
}
.filter_content a:not(:first-child){
	margin-left: 10px;
}
.filter_content a:hover{
	text-decoration: underline;
}
.filter_a{
	display: block;
}

.filter_b{
	display: none;
}









